.racePicker {
  position: sticky;
  top: 0;
  padding-top: 4px;
  background-color: var(--pico-background-color);
}

.racePicker input[type='radio'] {
  display: none;
}

.racePicker label {
  width: 40px;
  height: 40px;
  border-radius: 1000px;
  background-image: var(--bg);
  background-position: center center;
  background-size: 30px;
}

.racePicker :checked + label {
  background-color: var(--pico-primary-background);
  /* border-color: #FFF; */
}
